<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <base href="." />
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
  <script src="./tokenManager.js"></script>

  <title>Claimless</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900" rel="stylesheet">

</head>

<body ng-app="tokenManager" ng-controller="tokenManagerController">

  <div class="app-header">
    <div class="app-header-inner">
      <h1 class="header-logo">Claimless</h1>
    </div>
  </div>

  <div class="app-nav">
    <div class="app-nav-inner">
      <ul class="nav-list">
        <li><a href="./AddNewInsurer.html">Add New Insurer</a></li>
        <li><a href="./Cancellation.html">Cancellation</a></li>
        <li><a href="./Claim.html">Claim</a></li>
        <li><a href="./CustomerBalance.html">Customer Balance</a></li>
        <li><a href="./Expire.html">Expire</a></li>
        <li><a href="./Purchase.html">Purchase</a></li>
      </ul>
    </div>
  </div>

  <div class="app-body">

    <div class="illustration-container">
      <div class="illustration new"></div>
    </div>

    <h1 class="page-title">Purchase</h1>

  <fieldset>

    <div class="stl-insurer">
      <label>Policy Number</label>
      <input type="text" id="id" ng-model="policyNo" placeholder="placeholder">
    </div>

    <div class="stl-consumer">
      <label>Customer Adress</label>
      <input type="text" id="id" ng-model="consumer" placeholder="placeholder">
    </div>

    <div class="stl-insurer">
      <label>Premium</label>
      <input type="text" id="id" ng-model="totalPremium" placeholder="placeholder">
    </div>

    <div class="stl-consumer">
      <label>Duration</label>
      <input type="text" id="id" ng-model="duration" placeholder="placeholder">
    </div>

    <div class="stl-consumer">
      <label>Tokens to be redeemed</label>
      <input type="text" id="id" ng-model="tokensToBeRedeemed" placeholder="placeholder">
    </div>

    <button class="btn" ng-click="policyPurchased(consumer,policyNo,duration,totalPremium,tokensToBeRedeemed)">Button</button>

</fieldset>
  </div>

  <div class="app-footer">
    <div class="app-footer-inner">
      <span class="hackathon-copy">Created as part of the <a href="http://breaktheblock.simplybusiness.co.uk/">Break The Block</a> Hackathon hosted by <a href="http://www.simplybusiness.co.uk/">Simply Business</a></span>

      <span class="created-with">Created by...</span>

      <ul class="team-members">
        <li><span><a href="https://github.com/divsinghal">Divya Singhal</a></span></li>
        <li><span><a href="https://github.com/KelvinVail">Kelvin Vail</a></span></li>
        <li><span><a href="https://github.com/bprakash14">Bhanu</a></span></li>
        <li><span><a href="https://github.com/Govindaraju">Govind</a></span></li>
        <li><span><a href="https://github.com/markdurrant">Mark Durrant</a></span></li>
      </ul>
    </div>
  </div>
</body>
</html>